<!DOCTYPE html>
<html>
  <head>
  <style>
      #usernameform {
        border: solid, darkorchid;
        color: darkred;
        text-align: center;
      }
      button {
        background-color: yellow;
      }
    </style>
  <title>Choose a name</title>
  </head>
  <body>
    <h1>Your name: </h1>
    <form id="usernameform">
      <input
        id="name"
        autocomplete="off"
        autofocus
        placeholder="Name:"
        type="text"
      />
      <button placeholder="Confirm"></button>
    </form>
  </body>
</html>
